<div class="col-xs-12 col-sm-6 col-lg-4">
  <a class="list-group-item">
    <h4 class="list-group-item-heading">{{ item.name }}</h4>
    <p class="list-group-item-text" *ngIf="item.height">height: {{ item.height }}</p>
    <p class="list-group-item-text" *ngIf="item.weight">weight: {{ item.mass }}</p>
    <p class="list-group-item-text" *ngIf="item.gender">gender: {{ item.gender }}</p>
    <p class="list-group-item-text" *ngIf="item.terrain">terrain: {{ item.terrain }}</p>
    <p class="list-group-item-text" *ngIf="item.population">population: {{ item.population }}</p>
    <p class="list-group-item-text" *ngIf="item.model">model: {{ item.model }}</p>
    <p class="list-group-item-text" *ngIf="item.hyperdrive_rating">hyperdrive: {{ item.hyperdrive_rating }}</p>
    <p class="list-group-item-text" *ngIf="item.max_atmosphering_speed">speed: {{ item.max_atmosphering_speed }}</p>
    <p class="list-group-item-text" *ngIf="item.classification">classification: {{ item.classification }}</p>
    <p class="list-group-item-text" *ngIf="item.language">language: {{ item.language }}</p>
    <p class="list-group-item-text" *ngIf="item.episode_id">episode: {{ item.episode_id }}</p>
    <p class="list-group-item-text" *ngIf="item.release_date">year: {{ item.release_date | date:'y' }}</p>

  </a>
</div>
