<ul class="nav nav-pills">
  <li role="presentation" routerLinkActive="active">
    <a routerLink="/data/people">People</a>
  </li>
  <li role="presentation" routerLinkActive="active">
    <a routerLink="/data/planets">Planets</a>
  </li>
  <li role="presentation" routerLinkActive="active">
    <a routerLink="/data/starships">Starships</a>
  </li>
  <li role="presentation" routerLinkActive="active">
    <a routerLink="/data/vehicles">Vehicles</a>
  </li>
  <li role="presentation" routerLinkActive="active">
    <a routerLink="/data/species">Species</a>
  </li>
  <li role="presentation" routerLinkActive="active">
    <a routerLink="/data/films">Films</a>
  </li>
</ul>
<br>
<router-outlet></router-outlet>
